body{
    background-color: #EDF2F8;
}
p{
    opacity: 0.4;
    font-size: 12px;
}
.verified-graduate{
    margin-top: 0;
    font-size: 13px;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
}
h2{
    font-size: 17px;
}
.inner-body{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(39, 1fr);
}
.grid-container{
    grid-column: 4/18;
    grid-row: 4/37;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.daniel{
    grid-column: 1/7;
    grid-row: 1;
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 80% 0%;
    background-color: #733FC8;
    color: white;
}
.jonathan{
    grid-column: 7/10;
    grid-row: 1;
    background-color: #49556B;
    color: white;
}
.kira{
    grid-column: 10/13;
    grid-row: 1 / span 2;
    background-color: #FFFFFF;
}
.kira p{
    line-height: 1.4;
}
.jeanette{
    grid-column: 1/4;
    grid-row: 2;
    background-color: #FFFFFF;
}
.patrick{
    grid-column: 4/10;
    grid-row: 2;
    background-color: #18202D;
    color: white;
}
.grid-container > div {
    padding: 25px;
    margin: 15px;   
    border-radius: 10px;
}
@media (max-width: 600px) {
    .grid-container{
        grid-column: 3/21;
        grid-row: 1/37;
    }
    .daniel{
        grid-column: 1/12;
        grid-row: 1;
    }
    .jonathan{
        grid-column: 1/12;
        grid-row: 2;
    }
    .jeanette{
        grid-column: 1/12;
        grid-row: 3;
    }
    .patrick{
        grid-column: 1/12;
        grid-row: 4;
    }
    .kira{
        grid-column: 1/12;
        grid-row: 5;
    }
}
img{
    float: left;
    border-radius: 50%;
    margin-right: 30px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
}